ion-content{
    min-height: 100vh;
    position: relative;
    --background: #012c56;
}

ion-card{
    --background: #ffffff;
}
ion-card-title{
    color: #000000;
}
ion-card-content{
    padding-bottom: 1%;
}
ion-item{
    --background: #ffffff;
    color: #000000;
}
ion-img{
    height: 25%;
    width: 40%;
    position: absolute;
    bottom: 0;
    transform: translate(75%);
}

.centrar{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.boton-inicio{
    --background: #012c56;
    padding-right: 2%;
    padding-bottom: 2%;
}

ion-toast.custom-toast::part(message) {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
}



