<!-- <ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large"></ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-header>
  <ion-toolbar>
    <ion-title>Ingreso de usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
  <div class="centrar">
  <!--
  <ion-item>
    <ion-input label="Nombre de usuario:" labelPlacement="stacked" placeholder="Juan Pérez"></ion-input>
  </ion-item>
  <hr>
  <ion-item>
    <ion-input label="Contraseña:" labelPlacement="stacked" placeholder="*******" type="password"></ion-input>
  </ion-item>
  <hr>
  
  <ion-button fill="clear" [routerLink]="['/home']">Iniciar Sesión</ion-button>
  -->
    <ion-card >
      <ion-card-header>
        <ion-card-title class="ion-text-center">Acceder</ion-card-title>
        <ion-card-subtitle class="ion-text-center">Sistema de asistencia Duoc UC</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        <ion-item>
          <ion-input label="Nombre de usuario:" labelPlacement="stacked" placeholder="Juan Pérez"></ion-input>
        </ion-item>
        <hr>
        <ion-item>
          <ion-input label="Contraseña:" labelPlacement="stacked" placeholder="*******" type="password"></ion-input>
        </ion-item>
      </ion-card-content>
      <div class="ion-text-right">
        <ion-button fill="outline" [routerLink]="['/home']" >Iniciar Sesión</ion-button>
      </div>
      
    </ion-card>

  </div>
  
  
</ion-content>