<!-- <ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large"></ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-header>
  <ion-toolbar>
    <ion-title>Ingreso de usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  
  <ion-item>
    <ion-input label="Nombre de usuario:" labelPlacement="stacked" placeholder="Juan Pérez"></ion-input>
  </ion-item>
  <hr>
  <ion-item>
    <ion-input label="Contraseña:" labelPlacement="stacked" placeholder="*******" type="password"></ion-input>
  </ion-item>
  <hr>
  
  <ion-button fill="clear" [routerLink]="['/home']">Iniciar Sesión</ion-button>
  
  
</ion-content>
