<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-end">Mis Ramos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngFor="let r of ramos">

  <div id="container" >
    <ion-card >
      <ion-card-title>
        <!--<ion-button fill="clear" (click)="mostrarRamos()">
          <ion-icon name="caret-down-outline" slot="end"></ion-icon>
        </ion-button>-->
        <ion-button (click)="ramosShown = !ramosShown" fill="clear">
          <h1 class="titulo">{{r['descripcion']}}</h1>
          
          <ion-icon name="caret-down-outline" slot="end"></ion-icon>
        </ion-button>
        <h6>{{r['sigla']}} <span><h6 class="ion-float-end ion-padding-end">Clases totales: <span>{{r['clases_reg']}}</span></h6></span></h6>
        
      </ion-card-title>
      <ion-card-content >
        <table *ngIf="ramosShown">
            <tr class="ion-text-left">
              
              <th>Nombre</th>
              <th>Correo</th>
              <th>Clases Asistidas</th>
            </tr>
          <tbody >
            <tr *ngFor="let i of alumnos">
              <td class="mover">{{i['nombre']}}</td>
              <td class="mover">{{i['correo']}}</td>
              <td>{{i['clases_asist']}}</td>
            </tr>
          </tbody>
        </table>
      </ion-card-content>
    </ion-card>
    
    
  </div>
  <ion-img src='../../assets/icon/duoc.png' alt="DuocUC-ICO"></ion-img>
</ion-content>
