<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-end">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <br>
  <br>

  <div>
    <ion-card>
      <ion-card-title class="ion-text-center">
        ¡Bienvenido {{usuario.nombre}}!
      </ion-card-title>
      
      <ion-card-content class="ion-text-center">
        <ion-button fill="solid" class="boton-cuenta" (click)="verCuenta()">MI CUENTA</ion-button>
        <ion-button fill="solid" class="boton-qr" (click)="verQR()"> QR</ion-button>
        <ion-button fill="solid" class="boton-salir" (click)="logout()">CERRAR SESIÓN</ion-button>
        
      </ion-card-content>
      <hr>
      <ion-card-subtitle class="ion-text-center">Sistema de asistencia registrAPP</ion-card-subtitle>
      <hr>
    </ion-card>
  </div>
  <ion-img src='../../assets/icon/duoc.png' alt="DuocUC-ICO"></ion-img>
</ion-content>

