.titulo{
  font-weight: bold;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  color: #ffffff;
  font-style: italic;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
div{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15%;
}
ion-back-button{
  padding-left: 10%;
}
ion-img{
  height: 20%;
  width: 40%;
  bottom: 0;
  transform: translate(75%,155%);
}
p{
  font-weight: bolder;
  font-size: 17px;
  padding-top: 2%;
  
}
p span{
  font-weight: normal;
  font-size: 15px;
  ;
}
ion-content{
  --background: #012c56;
}
ion-card{
  --background: #ffffff;
  color: #000000;
}
ion-card-title{
  color: #000000;
  font-weight: bold;
  
  padding-top: 5%;
  padding-bottom: 5%;
}

.boton-cuenta{
  --background: #012c56;
  width: 60%;
}
.boton-qr{
  --background: #b49300;
  width: 60%;
}
.boton-salir{
  --background: #801401;
  width: 60%;
}

